* {
  margin: 0;
  padding: 0;
}

body {
}

.logo {
  color: white;
}
header {
  display: flex;
  justify-content: space-between;
  padding: 20px 25px 0 25px;
  background-color: black;
  height: 300px;
}

.navbar-container {
  display: flex;
  gap: 12px;
}
ul {
  display: flex;
}

ul li a {
  list-style: none;
  text-decoration: none;
  color: white;
  gap: 50px;
}

.main-header {
}
